@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(137, 236, 236, 0.671);
    
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

nav{
    display: flex;
    justify-content: right;
   
   
}
nav > a:hover{
    background-color: rgba(0, 94, 131, 0.534);
}

nav > a.twitter{
text-decoration: none;
border-radius: 10px;
transition-duration: 0.5s;
}

nav > a.instagram{
    text-decoration: none;
    border-radius: 10px;
transition-duration: 0.5s;
}

#redes{
    color: rgb(82, 82, 82);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}